.nav_bar {

}

.activeLink {
    color: green;
}

.hidden_menu {
    display: block;
    position: fixed;
    list-style: none;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 200px;
    background-color: #eee;
    height: 100vh;
    top: 0;
    left: -200px;
    transition: left .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.hidden_menu a {
    text-decoration: none;
    /*color: black;*/
}
.hidden_menu_ticker {
    display: none;
}

.btn_menu {
    color: #fff;
    background-color: #cacaca;
    padding: 5px;
    position: fixed;
    top: 5px;
    left: 5px;
    cursor: pointer;
    transition: left .23s;
    z-index: 3;
    width: 25px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.btn_menu span {
    display: block;
    height: 5px;
    background-color: #fff;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
}

.btn_menu span.first {
    margin-top: 0;
}

.hidden_menu_ticker:checked ~ .btn_menu {
    left: 160px;
}

.hidden_menu_ticker:checked ~ .hidden_menu {
    left: 0;
}

.hidden_menu_ticker:checked ~ .btn_menu span.first {
    -webkit-transform: rotate(45deg);
    top: 10px;
}

.hidden_menu_ticker:checked ~ .btn_menu span.second {
    opacity: 0;
}

.hidden_menu_ticker:checked ~ .btn_menu span.third {
    -webkit-transform: rotate(-45deg);
    top: -10px;
}
